<center>

<h1>Compromissos</h1>

<div id="calendar"></div>

<script>
 $('#calendar').fullCalendar(); 
</script>

<h4 align="center"> <%= link_to 'Novo compromisso', new_event_path %> </h4>
<table>
  <thead>
    <tr>
      <th style="color:green;text-align:center">Nome .</th>
      <th style="color:green;text-align:center">Descrição .</th>
      <th style="color:green;text-align:center">Inicio .</th>
      <th style="color:green;text-align:center">Fim .</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.nome %></td>
        <td><%= event.descricao %></td>
        <td><%= event.inicio %></td>
        <td><%= event.fim %></td>
        <td><%= link_to '[ Mostrar ]', event %></td>
        <td><%= link_to '[ Editar ]', edit_event_path(event) %></td>
        <td><%= link_to '[ Apagar ]', event, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br/>

</center>
