<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @event.nome %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @event.descricao %>
</p>

<p>
  <strong>Inicio:</strong>
  <%= @event.inicio %>
</p>

<p>
  <strong>Fim:</strong>
  <%= @event.fim %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
