<% unless user_signed_in? %>
 	<div class="hero-unit">

  <h1>Bem vindo a Kefisio! </h1>

  <h2>
   Esta é a homepage da clínica Kefisio. Para acessar sua conta, clique em Login.
  </h2>
</div>

<%= link_to image_tag("kefisio.jpg", alt: "Kefisio") %>

<% end %>

<%- if can? :manage, Event %>

	<h2> <%= link_to 'Novo paciente', new_user_path %> </h2>
 	<h2> <%= link_to 'Pacientes ', users_path %> </h2>
 	<h2> <%= link_to 'Compromissos', events_path %> </h2>
 
<% end -%>

<% if can? :manage, Event %>
  

  <% (Event.all).each do |event| %>
      <% if((Time.now - 3.hours <= event.inicio) and ((Time.now + 21.hours >= event.inicio))) %>

	  <h1>Compromissos Próximos</h1>

	  <table>
	  <thead>
	    <tr>
	      <th>Nome</th>
	      <th>Cliente</th>
	      <th>Inicio</th>
	      <th>Fim</th>
	      <th></th>
	      <th></th>
	      <th></th>
	    </tr>
	  </thead>

          <% break %>

      <% end %>
  <% end %>


  <tbody>
  <% (Event.all).each do |event| %>
      <% if((Time.now - 3.hours <= event.inicio) and ((Time.now + 21.hours >= event.inicio))) %>
	      <tr>
		<td><%= event.nome %></td>
		<td><%= event.descricao %></td>
		<td><%= event.inicio %></td>
		<td><%= event.fim %></td>
		<td><%= link_to 'Editar', edit_event_path(event) %></td>
		<td><%= link_to 'Apagar', event, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
	      </tr>
       <% end %>
  <% end %>
  </tbody>
  </table>


<% end -%>

