<%= form_for @record , :html => {:multipart => true} do |f| %>

  <% if @record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@record.errors.count, "error") %> Ficha não salva:</h2>

      <ul>
      <% @record.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Sintomas %><br>
    <%= f.text_field :symptom %>
  </div>
  <div class="field">
    <%= f.label :Exames %><br>
    <%= f.file_field :exams %>
  </div>
  
  <div class="field">
    <%= f.label :Pressão %><br>
    <%= f.text_field :bloodPress %>
  </div>
  <div class="field">
    <%= f.label :Batimentos %><br>
    <%= f.text_field :heartBeat %>
  </div>
  <div class="field">
    <%= f.label :Histórico %><br>
    <%= f.text_field :history %>
  </div>
  <div class="field">
    <%= f.label :Observações %><br>
    <%= f.text_field :observation %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
