<center>


<p id="notice"><%= notice %></p>

<p>
  <strong>Sintomas</strong>
  <%= @record.symptom %>
</p>

<p>
  <strong>Exames</strong>
  <%= link_to image_tag(@record.exams, alt: "Exames") %>
  
</p>

<p>
  <strong>Pressão arterial</strong>
  <%= @record.bloodPress %>
</p>

<p>
  <strong>Batimentos cardíacos</strong>
  <%= @record.heartBeat %>
</p>

<p>
  <strong>Histórico pessoal</strong>
  <%= @record.history %>
</p>

<p>
  <strong>Observação</strong>
  <%= @record.observation %>
</p>

<%= link_to '[ Voltar ]', users_path %>

<% if can? :manage, Record  %>
  <%= link_to '[ Editar ]', edit_record_path(@record, params.merge(user_id:@record.user_id)) %> 
 <% end %> 


</center>
