<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "erros") %> impediram do usuário ser salvo:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  

  <div class="field">
    <%= f.label :Nome %><br>
    <%= f.text_field :name, :autofocus => true %>
  </div>

  <div class="field">
    <%= f.label :CPF %><br>
    <%= f.text_field :cpf %>
  </div>

  <div class="field">
    <%= f.label :Telefone  %><br>
    <%= f.text_field :phoneHome %>
  </div>

  <div class="field">
    <%= f.label :Celular %><br>
    <%= f.text_field :phoneMobile %>
  </div>

 <div class="field">
    <%= f.label :Endereço %><br>
    <%= f.text_field :address %>
  </div>


  <div class="field">
    <%= f.label :Email %><br />
    <%= f.email_field :email %>
  </div>

  <div class="field">
    <%= f.label :Senha %><br />
    <%= f.password_field :password %>
  </div>

  <div class="field">
    <%= f.label :Confirmação %><br />
    <%= f.password_field :password_confirmation %>
  </div>
  
  <div class="field">
    <%= f.label :Tipo %><br>
    <%= f.collection_select :role, User::ROLES, :to_s, lambda{|i| i.to_s.humanize} %>
  </div>

  <div class="actions">
    <%= f.submit "Salvar dados" %>
  </div>
<% end %>
