<center>

<h1>Pacientes</h1>

<table>
  <thead>
    <tr>
      <th style="color:green;text-align:center" > Nome completo                              .   </th>
      <th style="color:green;text-align:center" >CPF                                    .   </th>
      <th style="color:green;text-align:center" >Tipo                                   .    </th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.cpf %></td>
        <td><%= user.role %></td>
        <td><%= link_to ' [  Mostrar      ]', user %></td>
        <td><%= link_to ' [  Editar       ] ' , edit_user_path(user) %></td>
        <td><%= link_to ' [  Excluir      ] ', user, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
</center>
