<h1>Pacientes</h1>

<table>
  <thead>
    <tr>
      <th>Nome completo</th>
      <th>CPF</th>
      <th>Telefone residencial</th>
      <th>Telefone celular</th>
      <th>Endereço</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.cpf %></td>
        <td><%= user.phoneHome %></td>
        <td><%= user.phoneMobile %></td>
        <td><%= user.address %></td>
        <td><%= user.email %></td>
        <td><%= link_to 'Mostrar', user %></td>
        <td><%= link_to 'Editar', edit_user_path(user) %></td>
        <td><%= link_to 'Excluir', user, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo paciente', new_user_path %>
