<center>

<h1> Dados pessoais </h1>
<p>
  <strong>Nome:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>CPF:</strong>
  <%= @user.cpf %>
</p>

<p>
  <strong>Telefone residencial:</strong>
  <%= @user.phoneHome %>
</p>

<p>
  <strong>Telefone celular:</strong>
  <%= @user.phoneMobile %>
</p>

<p>
  <strong>Endereço:</strong>
  <%= @user.address %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<h2> <%= link_to 'Ficha médica', record_path(current_user.record.id) %> </h2>

<%= link_to '[ Voltar ]', users_path %>

</center>
