<p>
  strong>Name:</strong>
  <%= @user.name %>
</p><

<p>
  <strong>Cpf:</strong>
  <%= @user.cpf %>
</p>

<p>
  <strong>Phonehome:</strong>
  <%= @user.phoneHome %>
</p>

<p>
  <strong>Phonemobile:</strong>
  <%= @user.phoneMobile %>
</p>

<p>
  <strong>Address:</strong>
  <%= @user.address %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<%= link_to 'Ficha médica', new_record_path %>
<%= link_to 'Editar', edit_user_path(@user) %> |
<%= link_to 'Voltar', users_path %>
